<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="/static/cyber.css">
<link type="image/x-icon" rel="icon" href="http://odmins-it.ru/favicon.ico" >
   <title>dl.odmins-it.ru</title>
</head>
<body>
 <table cellpadding="0" cellspacing="0" width=100%>
   <tr><td>
	<p><b>torrent-box::INFO</b>
	</td>
	
	 <!-- <a href="/user/logout">выход &gt;&gt;</a> !-->
	 

    <td align="right">
	       <form action='/search' method='post'>
			<!--<input type='text' name='login' class="small_auth">!-->
			<input type='text' name='login' class="small_auth">
			<input type='submit' value='поиск' />
		   </td>
	</tr>
    <tr ><td colspan='2' align="right">
	   <a href="/about">о трекере&nbsp;&nbsp;</a>
	<br>
	</td></tr>	
 </table>
  {% if torrent %}
      <center>

<table class='content_box'>
	<thead>
	<tr>
		<td class="header" colspan='2'>список торрентов</td>
	</tr>
	</thead>
        {% for file in torrent %}
	<tr class="content">
		<td class="content"><a href="/info/{{ file.id }}">{{ file.filename }} [ {{ file.name }} ]</a></td>
		<td class="content"> [ <a href="/user_page/edit/{{ file.id }}">изменить</a> ] [ <a href="/user_page/delete/{{ file.id }}">удалить</a> ] </td>
	</tr>
        {% endfor %}
</table>
  <br>
   </center>
  {% endif %}

  {% if tags %}
      <center>

<table class='content_box'>
	<thead>
	<tr>
		<td class="header" colspan='2'>список тегов</td>
	</tr>
	</thead>
        {% for tag in tags %}
	<tr class="content">
		<td class="content"><a href="/tag/{{ tag.id }}">{{ tag.name }}</a></td>
		<td class="content"> [ <a href="/admin/tag/edit/{{ tag.id }}">изменить</a> ] [ <a href="/admin/tag/delete/{{ tag.id }}">удалить</a> ] </td>
	</tr>
        {% endfor %}
</table>
  <br>
   </center>
  {% endif %}


  {% if users %}
      <center>

<table class='content_box'>
	<thead>
	<tr>
		<td class="header" colspan='2'>список пользователей</td>
	</tr>
	</thead>
        {% for user in users %}
	<tr class="content">
		<td class="content">{{ user.name }}</td>
		<td class="content"> [ <a href="/admin/user/edit/{{ user.id }}">изменить</a> ] [ <a href="/admin/user/delete/{{ user.id }}">удалить</a> ] </td>
	</tr>
        {% endfor %}
</table>
  <br>
   </center>
  {% endif %}


   <center>
   <h1><a href="/admin/user/add/">добавить пользователя</a></h1>
<hr>
     <div class='foot'>powered by <a href="http://flask.pocoo.org/">Flask</a></div>
     <div class='foot'><br>created by unStatiK</div>
   </center>	
</body>
</html>
