<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="/static/cyber.css">
<link type="text/css" rel="stylesheet" href="/static/tw.css">
<link type="image/x-icon" rel="icon" href="http://odmins-it.ru/favicon.ico" >

   <title>TorrentBOX</title>
</head>
<body>
 <table cellpadding="0" cellspacing="0" width=100%>
   <tr><td>
	<p><b>torrent-box</b> [ RC1 ]
	</td>


    <td align="right">
	       <form action='/search/' method='post'>
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
			<input type='text' name='pattern' class="small_auth">
			<input type='submit' value='поиск' />
		</form>
    </td>
	</tr>
    <tr> <td colspan='2' align="right">
	   <a href="/about">о трекере&nbsp;&nbsp;</a>
           {% if auth %}
 	   | <a href="/user_page">моя страница</a> |
           {% if admin %}
 	   <a href="/admin">админская</a> |
           {% endif %}
 	   <a href="/logout">выход&nbsp;&nbsp;</a>
           {% endif %}
	<br>
	</td></tr>
 </table>

<br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">


     {% if tags %}
	<div style="border:1px solid #004000;text-align:center;"><h1>tags:</h1></div>
	<br>
	<div style="border:1px solid #004000;">
        {% for tags in tags %}
	<br>&nbsp;&bull;<a href="/tag/{{ tags.id }}">{{ tags.name }}</a>&nbsp;
        {% endfor %}
	<br><br></div>
	<br><br>
     {%  endif %}

    </div>

    <div class="span10">


      <center>

{% if torrents and authors %}
<table class='content_box2'>
	<thead>
	<tr>
		<td class="header">{{ _('torrents_table_name') }}</td>
		<td class="header">описание</td>
		<td class="header">автор раздачи</td>
		<td class="header">размер раздачи</td>
		<td class="header">download</td>
	</tr>
	</thead>
        {% set j = 0 %}
        {% for torrent in torrents %}
	<tr class="content">
		<td class="content"><a href="/info/{{ torrent.id }}/">{{ torrent.name }}</a></td>
		<td class="content"><a href="/info/{{ torrent.id }}/">{{ torrent.description }}</a></td>
		<td class="content">{{ authors[torrent.id_acc] }}</td>
		<td class="content">{{ convert_unit(torrent.size) }}</td>
        {% if is_direct %}
            <td class="content"><a href='/static/{{ torrent.filename }}/'>&gt;&gt;&gt;</a></td>
        {% else %}
            <td class="content"><a href='/torrent/get/{{ torrent.id }}/'>&gt;&gt;&gt;</a></td>
        {% endif %}
	</tr>
        {% set j = j + 1 %}
        {% endfor %}
	<tr><td colspan='5' align="center"><br>общий размер торрентов : {{ size }}<br>Всего торрентов : {{ count }}<br><br>
		&larr;
                  {% for i in range(1,pages + 1) %}
                    {% if i == page %}
                     [ <a href="?page={{ i }}">{{ i }}</a> ]
                    {% else %}
                     <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                  {% endfor %}
                &rarr;</td>
	</tr>
</table>
{% endif %}
  <br>
   </center>


    </div>

  </div>

<hr>
   <center>
     <div class='foot'>powered by <a href="http://flask.pocoo.org/">Flask</a></div>
     <div class='foot'><br>created by unStatiK</div>
     <div style="font-size:0.6em;">theme <a style="text-decoration:underline;" href="/static/cyber.css">cyber</a></div>
   </center>
</div>

</body>
</html>
