
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <link type="text/css" rel="stylesheet" href="/static/cyber.css">
<link type="image/x-icon" rel="icon" href="http://odmins-it.ru/favicon.ico" >
	<title>Авторизация админа</title>
</head>
<body>

<table cellpadding="0" cellspacing="0" width=100%>

   <tr><td>

	<p>torrent-box::Вход

	</td>

		
	</tr>

 </table>


 <center>
	<form method='post' action='/login/'>
		<table class='b_ad_auth_box'>
			<tr>
				<td>Login: </td><td><input type='text' name='login' class='admin_auth'></td>
			</tr>
			<tr>
				<td>Password: </td><td><input type='password' name='password' class='admin_auth'></td>
			</tr>
			<tr>
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
				<td class='r'>&nbsp;</td><td class='r'><input type='submit' value='Login'></td>
			</tr>
		</table>
	</form>
	
	{% if error %}
	<p id='error'>[!] неверный логин или пароль
	{% endif %}
 </center>
<hr>
   <center>
     <div class='foot'>powered by <?=$engine?> &nbsp;<?=$version?></div>
     <div class='foot'><?=$author?></div>
   </center>

</body>
</html>
