

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" rel="stylesheet" href="/static/cyber.css">
<link type="image/x-icon" rel="icon" href="http://odmins-it.ru/favicon.ico" >
   <title>TorrentBOX</title>
</head>
<body>
 <table cellpadding="0" cellspacing="0" width=100%>
   <tr><td>
	<p><b>torrent-box::{{ _('user_adding') }}</b>
	</td>
	
	 

    <td align="right">
	       <form action='/search/' method='post'>
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
			<input type='text' name='login' class="small_auth">
			<input type='submit' value='{{ _('search') }}' />
              </form>
		   </td>
	</tr>
    <tr ><td colspan='2' align="right">
	   <a href="/about">{{ _('about') }}&nbsp;&nbsp;</a>
	<br>
	</td></tr>	
 </table>

      <center>
           <form action="/admin/user/add/" method="post">
               <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
               {{ _('login') }}<input type="text" name="user"><br><br>
               {{ _('password') }}<input type="password" name="password"><br><br>
               {{ _('re_password') }}<input type="password" name="re_password"><br><br>
               <input type="submit" value="{{ _('save') }}" />
           </form>

        {% if is_error %}
        <p id='error'>[!] {{ _('credentials_not_valid') }}
        {% endif %}


   <center>
     <div class='foot'>powered by <a href="http://flask.pocoo.org/">Flask</a></div>
     <div class='foot'><br>created by unStatiK</div>
   </center>	
</body>
</html>
